body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Image sourced from Freepik */
    /* URL: https://www.freepik.com/free-ai-image/anime-style-cozy-home-interior-with-furnishings_133783512.htm */
    /* License: Free (Attribution Required) */
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top-left-container {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    z-index: 1;
    pointer-events: none;
}

.top-right-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.connected {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
}

.disconnected {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
}

#responseStatus {
    color: white;
    padding: 10px;
    border: none;
    margin-left: 10px;
    cursor: default;
}

.status-idle {
    background-color: darkslategray;
}

.status-waiting {
    background-color: darkorange;
}

.status-received {
    background-color: darkgreen;
}

.status-error {
    background-color: darkred;
}

.bottom-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-icon {
    position: absolute;
    bottom: calc(100% + 5px);
    right: 15px;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.bottom-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 168px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 20px 20px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-bottom {
    max-height: 140px;
    overflow-y: auto;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.fixed-bottom::-webkit-scrollbar {
    width: 6px;
}

.fixed-bottom::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.fixed-bottom::-webkit-scrollbar-track {
    background: transparent;
}

.input-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#userInput {
    flex: 1;
    border: 16px;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#sendButton {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.canvas-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .top-left-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #responseStatus {
        margin-top: 10px;
        margin-left: 0px;
    }
}