html, body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Image sourced from Freepik */
    /* URL: https://www.freepik.com/free-ai-image/anime-style-cozy-home-interior-with-furnishings_133783512.htm */
    /* License: Free (Attribution Required) */
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top-left-container {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    z-index: 1;
    pointer-events: none;
}

.top-right-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.connected, .disconnected, #responseStatus {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

.connected {
    background-color: green;
    font-weight: bold;
}

.disconnected {
    background-color: red;
    font-weight: bold;
}

#responseStatus {
    margin-left: 10px;
}

.status-idle {
    background-color: darkslategray;
}

.status-waiting {
    background-color: darkorange;
}

.status-received {
    background-color: darkgreen;
}

.status-error {
    background-color: darkred;
}

.status-timeout {
    background-color: black;
}

.bottom-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-icon {
    position: absolute;
    bottom: calc(100% + 5px);
    right: 15px;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.repeat-icon {
    position: absolute;
    bottom: calc(100% + 5px);
    right: 105px;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.history-icon {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 15px;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.bottom-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 168px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 20px 20px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-bottom {
    max-height: 140px;
    overflow-y: auto;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    white-space: normal; /* Allow multi-line text */
    word-break: break-word; /* Force long strings to break */
}

.fixed-bottom::-webkit-scrollbar {
    width: 6px;
}

#historyList::-webkit-scrollbar {
    width: 10px;
}

.fixed-bottom::-webkit-scrollbar-thumb, #historyList::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.fixed-bottom::-webkit-scrollbar-track, #historyList::-webkit-scrollbar-track {
    background: transparent;
}

.voice-icon {
    position: absolute;
    bottom: calc(100% + 5px);
    right: 60px;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.voice-icon:active {
    color: lightblue;
}

.settings-icon {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 60px;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

#settingsModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    z-index: 2000;
}

.settings-container {
    background: rgba(50, 50, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

.settings-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: gray;
    border-radius: 34px;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: green;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

#timeoutInput, #modelInput {
    flex-grow: 1;
    max-width: 80px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

#modelInput {
    max-width: 200px;
}

.settings-buttons {
    margin-top: 10px;
}

.settings-buttons button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.settings-buttons button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.input-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#userInput {
    flex: 1;
    border: 16px;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#sendButton {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.canvas-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: calc(10px + 50px);
    width: 320px;
    bottom: 188px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar button {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    white-space: normal; /* Allow multi-line text */
    word-break: break-word; /* Force long strings to break */
}

.sidebar button:hover {
    background: rgba(255, 255, 255, 0.4);
}

.sidebar.show {
    transform: translateX(0);
}

.search-container {
    position: relative;
    width: calc(100% - 26px);
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}


#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    box-sizing: border-box;
}

#searchInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#searchButton {
    position: absolute;
    top: 50%;
    margin-top: 0px;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    width: auto;
    height: auto;
}

#searchButton:hover {
    color: lightgray;
}

#historyList {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0px 10px 0px 16px;
    margin-bottom: 10px;
}

#closeSidebar {
    position: absolute;
    top: calc(10px + 50px);
    left: calc(320px - 36px);
    background: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    z-index: 1100;
    transition: color 0.2s ease-in-out;
}

#closeSidebar:hover {
    color: red; 
}

@media (max-width: 768px) {
    .top-left-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #responseStatus {
        margin-top: 10px;
        margin-left: 0px;
    }

    .sidebar {
        top: calc(10px + 100px);
        width: 256px;
    }

    #historyList {
        padding-right: 16px;
    }

    #closeSidebar {
        top: calc(10px + 100px);
        left: calc(256px - 50px);
    }
}

@media (max-height: 500px) {
    .sidebar {
        height: calc(100vh - (10px + 50px) - 80px);
    }

    #historyList {
        max-height: calc(100vh - (10px + 50px) - 100px);
    }
}